{alias, [
    {check, [xref, dialyzer, edoc,
             {proper, "--regressions"},
             {proper, "-c"}, {ct, "-c"}, {cover, "-v --min_coverage=80"}]}
]}.

{project_plugins, [rebar3_proper]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [proper, recon]}
    ]}
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{xref_checks,[
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{proper_opts, [{constraint_tries, 150}]}.

{shell, [{config, "config/sys.config"}]}.
